/*
Theme Name: iBAN Online
Description: Custom theme for iBAN Online
Author: iBAN Online
Template: Divi
*/


* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
#request-wrapper {
    background-image: url('pexels-photo.jpg');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

body.home.page header#main-header {
    background-color: transparent;

}
body.home.page header#main-header.et-fixed-header {
    background-color: white;
}

header#main-header.et-fixed-header {
    box-shadow: 1px 1px 1px 1px #ccc !important;
}
header#main-header li.menu-item a:hover {
    opacity: 1 !important;
    color: black !important;
}

header{
        display: none;
}
.request-titles {
    /*margin-top: 50px;*/
    /*margin-bottom: 40px;*/
    margin-bottom: 0px;
}
.request-titles h1 {
    margin-bottom: 30px;
    font-size: 35px;
}
.request-titles h3 {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: normal;
}
.request-titles h1,
.request-titles h3 {
    color: white;
    text-shadow: 0px 0px 10px black,0px 0px 50px black,0px 0px 100px black;
    /*font-family: sans-serif;*/
}
#request-form {
    padding: 5px 50px 35px 50px;
    /*font-family: sans-serif;*/
    background-color:#fff;
    /*margin: auto auto;*/
    max-width: 800px;
    /*border: 2px solid  rgba(0,0,0,0.5);*/
}
#request-form h3 {
    font-size: 25px;
    color: white;
}
#request-form-bottomtext {
    max-width: 800px;
}
.request-group {
    transition: all .3s;
}
#request-group-1 {
    /*margin-bottom: 30px;*/
    /*background-color: gray;*/
}
#request-group-2 {
    margin-bottom: 0px;
}
.request-row {
    margin-bottom: 0px;
}

.request-details {
    position: relative;
}

.request-question {
    float: none;
    color: #6D6868;
    margin-bottom:10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
#request-group-1 .request-counter:before {
    /*content: 'RD$';
    color: #888;
    margin-right: 10px;*/

}
.content{
display: none!important;
}
input:checked + span,
input:checked + input {
display: block!important;
}
#account_contents{
  display : none;
}
#request-group-2 .request-counter:after {


    /*content: 'meses';*/
    /*color: #888;
    float: right;
    font-size: 12px;*/
}
.request-counter {
    float: none;
    font-size: 20px;
    width: 170px;
    padding: 5px 10px;
    background-color: #e0e4ea;
    color: #f6931f;
    text-align: left;
    margin:auto!important;
}
.request-tweak-button:hover {
    opacity: 0.7;
}
.request-tweak-button {
    float: left;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-position: center 10px;
    background-size: 26px 26px;
    background-repeat: no-repeat;
    opacity: 0.5;
    margin-top: 11px;
}
.tweak-minus {
    margin-right: 25px;
    background-image: url('minus.png');
}
.tweak-plus {
    float: right;
    background-image: url('plus.png');
}
/*---*/
.request-range {
    float: none;
    width: 65%;
    position: relative;
    height: 70px;
    margin:auto;
}
.request-range-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 33px;
    left: 0;
    height: 16px;
    /*background-color: pink;*/
    }
.request-range-bg-clear {
    background-color: #FAFAFA;
    box-shadow: inset 0 1px 1px #f0f0f0;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    z-index: 0;
    height: 16px;
    top: 33px;
    }
.request-range-bg-filled {
    background-color: rgb(0,165,46);
    z-index: 1;
    width: 20% ;

}
.request-range-input {
    position: relative;
    z-index: 2;
    width: 100%;
    /*background-color: pink!important;*/
}
/*---*/
.request-fields-wrapper {
    float: left;
}
.request-fields-wrapper > input:first-child {
    margin-right: 20px;
}


.request-bottomforminputs-wrapper:first-child {
    margin-right: 20px;
}
.request-bottomforminputs-wrapper {
    position: relative;
    display: inline-block;
    float: left;
}

.request-bottomforminputs {
    font-size: 16px;
    width: 200px;
    padding: 5px 10px !important;
    /*float: left;*/
    margin-top: 23px !important;
}

.request-bottomforminputs-wrapper:before {
    content: '';
}
.request-bottomforminputs-wrapper.error .request-bottomforminputs {
    outline: 2px solid red;
    animation: error-flash 2s;
}
@keyframes error-flash {
    0%   { outline-color: red; }
    33%  { outline-color: transparent; }
    50%  { outline-color: red; }
    66%  { outline-color: transparent; }
    100% { outline-color: red; }
}
/*#request-nombre.error:after {*/
.request-bottomforminputs-wrapper.error:before {
    color: #ffcbdc;
    font-weight: normal;
    font-size: 12px;
    position: absolute;
    top: -11px;
    left: 0;
    line-height: 15px;
}
#nombre-error.error:before { top: 3px; content: 'Por favor, completar su nombre'; }
#telefono-error.error:before { content: 'Por favor, completar su numero de telefono'; }

/*.request-error-msg:first-child {
    margin-right: 20px;
}
.request-error-msg {
    color: red;
    font-weight: normal;
    font-size: 12px;
    float: left;
    width: 200px;
}*/

#request-submit {
    border: 0;
    text-transform: uppercase;
    /*background-color: #00a650;*/
    background-color: #009dff;
    color: white;
    letter-spacing: 1px;
    outline: 0;
    cursor: pointer;
    line-height: 50px;
    font-size: 20px;
    width: calc(100% - 440px);
    /*margin: 0 auto;*/
    display: block;
    float: right;
    transition: all .3s;

    position: absolute;
    width: 260px;
    right: 0;
    bottom: 0;
}
#request-submit:hover {
    /*background-color: #00731D;*/
    /*background-color: #0004FF;*/
    opacity: 0.8
}

.request-calculation h6, .request-calculation p {
    color: #777777!important;
    padding: 0!important;
    font-size: 22px;
}
 .request-calculation p {
     font-size: 18px;
 }

.request-calculation {
    padding: 20px 50px 35px 50px;
    /*font-family: sans-serif;*/
    /*background-color: rgba(0,0,0,0.5);*/
    width: 100%;
    margin: auto;
    text-align: center;
    border: 1px solid #ccc;
    /*box-shadow: 1px 2px 7px #c5c5c5;*/
    color: #777777;
    float: left;
}
.astSimulador{
    font-size: 12px;
    color: black;
}
.request-calculation ul {
    list-style: none;
    list-style-position: outside;
    padding: 0;
}

.request-calculation li:hover {
    color: #777777;
    transition: all .3s;
}
.request-calculation li {
    clear: both;
    line-height: 25px;
}
.request-calculation li span {
    float: right;
}
.request-calculation li span:first-child {
    float: left;
    margin-right: 20px;
}

/*.points:hover {
    background-color: rgba(0,0,0,0.2);
}*/
.points {
    margin-left: 25px;
    padding: 20px 20px 20px 50px;
    float: left;
    width: calc(100% - 425px);
    margin-top: 25px;
    /*font-family: sans-serif;*/
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 0px 10px black;
    transition: all .3s;
    background-color: rgba(0,0,0,0.2);
}

ul#request-list {
    padding-left: 20px;
    text-indent: 2px;
    list-style: none;
    list-style-position: outside;
    color: rgba(255,255,255,0.9);
}
ul#request-list li:before {
    /*content: '✔';*/
    font-family: FontAwesome;
    content: "\f046";
    font-size: 20px;
    vertical-align: bottom;
    margin-left: -25px;
    margin-right: .100em;
    color: #00a650;
}
ul#request-list li {
    margin-top: 10px;
    margin-bottom: 15px;
    /*max-width: 50%;*/
    /*display: inline-block; vertical-align: top;*/
}
ul#request-list li:first-child {
    margin-right: 40px;
}


/* http://stackoverflow.com/a/36601078 */
input[type=range] {
  -webkit-appearance: none;
  /*margin: 0 0 36px 0;*/
  margin: 0;
  width: 100%;
  background: transparent;
  background-color: transparent;
  padding: 0;
  height: 70px;
}
input[type=range]:focus {
  outline: none;
  background: transparent;
  background-color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  background-color: transparent;
  /*background-color: red;*/
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
  height: 25px;
  width: 35px;
  /*border-radius: 50%;*/
  background: #fff;
  cursor: pointer;
  border: 1px solid #D9D9D9;
  -webkit-appearance: none;
  /*margin-top: -20px;*/
  background-image: url('dos-lineas.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  background-color: transparent;
}
input[type=range]::-moz-range-thumb {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
    height: 50px;
    width: 50px;
    /*border-radius: 50%;*/
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    /*margin-top: -20px;*/
    background-image: url('dos-lineas.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  /*background-color: red;*/
  border-color: transparent;
  border-width: 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
input[type=range]::-ms-fill-upper {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
input[type=range]::-ms-thumb {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: #ffffff;
  cursor: pointer;
  /*margin-top: -20px;*/
  background-image: url('dos-lineas.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e6e6e6;
  margin-top: 0px;
}
input[type=range]:focus::-ms-fill-lower {
  background: transparent;
}
input[type=range]:focus::-ms-fill-upper {
  background: transparent;
}

@media (max-width:738px) {

    input[type=radio]{
        width: 15px!important;
        height: 15px!important;
    }
    .contenedores{
        font-size: 18px!important;
    }
    .inputs-slider{
        width: 100%!important;
        margin: 0;
        padding: 0;
    }
    .request-question{
        /*background-color: pink;*/
        padding: 5px;
        float: left;
        /*margin-left: 10%;*/
    }
    .holita{
        background-color: red;
        width: 60%;
        margin:auto;
    }
}
@media (max-width:591px){

    .contenedores{
        width: 100%!important;
        float: left;
    }

}
/*@media (max-width:681px) {
    .inputs-slider{
        background-color: aqua!important;
        color: red;
    }
}*/

/*@media (max-width: 800px) {*/
@media (max-width: 1000px) {
    #request-form {
        padding: 50px 25px 35px 25px;
    }
    .request-calculation {
        width: 100%;
    }
    .points {
        width: 100%;
        margin-left: 0;
        background-color: rgba(0,0,0,0.2);
    }
    .request-details {
        text-align: center;
    }
    .request-fields-wrapper {
        width: 100%;
        float: none;
    }
    .request-bottomforminputs-wrapper {
        float: none;
    }
    .request-error-msg {
        float: none;
    }
    #request-submit {
        margin: 0px auto 0px auto;
        float: none;
        max-width: 420px;
        width: 100%;
        position: relative;
    }
}

@media (max-width: 800px) {
    #iban-form-row {
        width: 100%;
    }
    #iban-form-row .request-titles {
        text-align: center;
    }
}

@media (max-width: 500px) {
    #request-form {
        padding: 50px 10px 35px 10px;
    }
    .tweak-minus {
        margin-right: 0;
    }
    .request-range {
        width: calc(100% - 100px);
    }
    .request-bottomforminputs-wrapper {
        margin: 20px auto !important;
    }
    .request-error-msg {
        display: block;
    }
    .request-question {
        font-size: 13px;
    }
    .request-calculation {
        font-size: 13px;
    }
}


.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 99999999;
}
.loader {
    margin: 6px auto;
    font-size: 3px;
    position: relative;
    text-indent: -9999em;
    border-top: 3em solid rgba(255, 255, 255, 0.5);
    border-right: 3em solid rgba(255, 255, 255, 0.5);
    border-bottom: 3em solid rgba(255, 255, 255, 0.5);
    border-left: 3em solid #000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;

    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -5em;
}
.loader.show {
    display: block;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 20em;
    height: 20em;
    top: 44%;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.line-green{
    border-top: 3px solid #33cc99;
    margin-bottom: -30px;
}
.line-green-1{
    width: 20%;
    margin: 10px 0 30px 0;
    border-top: 3px solid #33cc99;
}
.line-orange{
    border-top: 1px solid #f79839;
    width: 29%;
    margin: 0;
    margin-bottom: 0!important;
    }
.et-pb-controllers a{
        background-color: rgba(0, 0, 0, 0.20)!important;
    }
.et-pb-controllers .et-pb-active-control{
        background-color: gray!important;
    }
.et_pb_fullwidth_header{
        padding: 0 0 !important;
    }
.et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content{
    width: 100%!important;
    }
.et_pb_fullwidth_header_0.et_pb_fullwidth_header .header-content h1{
    margin-bottom: 30px;
    font-weight:800;
}
.et_pb_fullwidth_header .et_pb_fullwidth_header_container{
    width: 90%;
}
.et_pb_slider.et_pb_module .et_pb_slides .et_pb_slide_content{
    text-align: left!important;
}
.et_pb_slides .et_pb_slide_description{
    padding: 8%!important;
}
.et_pb_fullwidth_slider_0.et_pb_slider .et_pb_slide_description{
    padding: 0% 0 20% 0!important;
}
.et_pb_slider .et_pb_slide{
    padding: 0!important;
}
.et_pb_slides .et_pb_container{
    width: 100%;
    padding: 0 3% 0 5%!important;
}
.et_pb_fullwidth_header_1.et_pb_fullwidth_header .header-content h1{
    text-shadow: 0px 0px 0px!important;
    font-weight:300!important;
    font-family: roboto!important;
    padding-bottom: 8%;
}
.et_pb_fullwidth_header_1 .header-content{
    width: 70%!important;
}
.et_pb_fullwidth_slider_1.et_pb_slider .et_pb_slide_description{
    padding: 0 0 8% 0!important;
}
.fullwidth-h1{
    font-size: 25px!important;
}
#Div_line_green{
    margin-top: 2%;
}
#div-call-action, #div-call-action-last{
    width: 100%;
}
#div-call-action-divs{
    margin-right: 0;
    width: 50%;
}
#div-call-action-divs-2{
    width: 50%;
    /*background-color: #3399cc;*/
}
#div-call-action-divs-2-et-column{
    width: 50%;
    /*margin-top: -80px;*/
}
.text-action{
    visibility: hidden;
}
#column1{
    margin-right: 0!important;
    width: 50%;
}
#child-div-call-action-divs-2{
    margin-left: 0;
}
#back-green{
    background-color: #33cc99;
    padding:10px;
}
.div-choose-product{
    width: 80%;
    margin: auto;
}
#pasos-divs{
    margin: 0;
}
#alignleft-img,img.alignleft{
    clear: left;
}
.et_pb_text_align_left{
    margin-top: 10px;
}
.session-botones, .session-botones-azul{
    margin-top:0!important;
    background-color: #33cc99;
    border-color: #33cc99;
    color:#ffffff!important;
    border-radius: 50px;
    font-family: "roboto";
    font-size: 14px;
    padding: 10px;
    letter-spacing: 4px;
}
.plan-amigo{
    padding: 0 10px 0 10px !important;
}
.session-botones-azul{
    background-color: #3399cc!important;
    border-color: #3399cc;
    font-family: "roboto";
    letter-spacing: 4px;
    padding: 10px;
    font-size: 14px;
}
.session-botones:hover{
    background-color:#33cc99!important;
}
.et_pb_text_21_column1{
    margin-left: 40%;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----*/
/*img.alignleft{
width: 50px;
}*/
.div-et_pb_text_21_column1{
    /*background: aqua;*/
    padding: 0px 0px 0 0px;
}
.et_pb_text_10_module{localhost:8080/form.ibanonline.com
    margin-top: 25%;
}
.et_pb_row_inner_columns_requisitos{
    margin-top: -5%;
}
.et_pb_code .et_pb_module  .et_pb_code_1{
    margin: -12%!important;
}
.iconos-verdes{
    width: 150px;
    height: 170px;
}
.et_pb_gutters3 .et_pb_column_1_4 .et_pb_module, .et_pb_gutters3.et_pb_row .et_pb_column_1_4 .et_pb_module, .et_section_specialty .et_pb_gutters3.et_pb_row .et_pb_column_3_4 .et_pb_column_1_4 .et_pb_module, .et_section_specialty .et_pb_gutters3.et_pb_row .et_pb_column_1_2 .et_pb_column_1_4 .et_pb_module, .et_section_specialty .et_pb_row .et_pb_column_3_4 .et_pb_gutters3.et_pb_row_inner .et_pb_column_1_4 .et_pb_module, .et_section_specialty .et_pb_row .et_pb_column_1_2 .et_pb_gutters3.et_pb_row_inner .et_pb_column_1_4 .et_pb_module
{
    margin-bottom: 0!important;
    margin-top: 0!important;
}
.et_pb_section .et_pb_row .et_pb_column .et_pb_module:last-child
{
    margin-top: 0!important;
}
/*.et_pb_slider.et_pb_module .et_pb_slides .et_pb_slide_content{
    width: 74% ;
}*/
/*.et_pb_slide_9 .et_pb_container{
    width: 72%!important;
}*/
.et_pb_slide_9 .et_pb_slide_description, .et_pb_slide_9 .et_pb_container{
    /*width: 76%;*/
}
/*-------*/
.container-requisitos{
    width: 100%;
    height: auto;
    float: left;
}
    .div-requisitos{
        width: 100%;
        margin: 15px;
        height: auto;
        float: left;
        position: relative;
        margin-left: 0!important;
    }
    .img-requisitos{
        width: auto;
        height: 100%;
        float: left;
    }
    .img-requisitos img{
        margin-top: 20%;
    }
    .Description-img{
        position: relative;
        width: auto;
        text-align: left;
        top:10px;
        left: auto;
    }

    /*@media (max-width: 454px) {
            .img-requisitos{
                background-color: pink !important;
            }
            .div-requisitos{
                display: block;
                width: 50%;
            }

    }*/
    /* product page */
    .et_pb_slide_0 .et_pb_container{
        background-color: rgba(0, 0, 0, 0.4);
        padding: 4% 4% 0 4%!important;
        width: 30% !important;
        float: left;
    }

    .line-white{
        border-top: 1px solid #fff;
        width: 13%;
        margin: -2% 0 3% 0 !important;

    }
    .et_pb_slide_0 .et_pb_container h7{
        font-size: 18px!important;
        letter-spacing: 2px;
        padding: 0!important;
    }
    .et_pb_slide_2 .et_pb_container{
        /*width: 60% !important;*/
        margin: auto;
    }
    .container-social{
        /*background-color: red;*/
        width: 60%!important;
        margin: auto;
    }
    .et_pb_slide_2 .et_pb_container p{
        padding-bottom: 15%;
    }
    .social-line-green{
        border-top: 1px solid #33cc99;
        width: 10%;
        margin: auto;
        /*margin-bottom: -5%;*/

    }
    .botones-productos{
        color: #FFF;
        background: #000;
        position:absolute; /*El div será ubicado con relación a la pantalla*/
        left:0px; /*A la derecha deje un espacio de 0px*/
        right:0px; /*A la izquierda deje un espacio de 0px*/
        bottom:0px; /*Abajo deje un espacio de 0px*/
        height:auto; /*alto del div*/
        z-index:0;
        float: left;
    }
    .a-botones-productos{
        background-color: #33cc99;
        float: left;
        width: 50%;
        padding: 10px;
        text-align: center;
    }
   .et_pb_slider_0.et_pb_slider .et_pb_slide_description{
        padding-right: 0 !important;
    }
    .btn-solidario{
        background-color: transparent;
        padding: 20px;
        color: white;
        border-radius: 2px solid blue;

    }

@media(max-width: 479px){
    img.alignleft{
        alinenone;
    }
    .et_pb_section .et_pb_row .et_pb_column.et_pb_column_1_4{
        margin-bottom: 0!important;
    }
}
@media(max-width: 980px) {
    .et_pb_gutters3 .et_pb_column_1_4 .et_pb_module, .et_pb_gutters3.et_pb_row .et_pb_column_1_4 .et_pb_module, .et_section_specialty .et_pb_gutters3.et_pb_row .et_pb_column_3_4 .et_pb_column_1_4 .et_pb_module, .et_section_specialty .et_pb_gutters3.et_pb_row .et_pb_column_1_2 .et_pb_column_1_4 .et_pb_module, .et_section_specialty .et_pb_row .et_pb_column_3_4 .et_pb_gutters3.et_pb_row_inner .et_pb_column_1_4 .et_pb_module, .et_section_specialty .et_pb_row .et_pb_column_1_2 .et_pb_gutters3.et_pb_row_inner .et_pb_column_1_4 .et_pb_module
    {
        margin-bottom: 0!important;
        margin-top: 10px!important;
    }
    /*img.alignright{
        width: 25PX;
    }*/
    .div-call-action-divs-2-et-column{
        display: none;
    }
    .div-choose-product{
    font-size: 18px;
    width: 90%;
    margin-left: 0;
    margin-top: 0;
    margin: auto;
    padding: 30px!important;
    }
    #child-div-call-action-divs-2{
        margin-top: 0!important;
    }
    #arrow{
        width: 25px;
        height: 25px;
    }
    #div-call-action{
        /*height: 280px;*/
        padding-bottom:  0;
    }
    #div-call-action-divs{
        /*margin-top: -3px;*/
        display: none;
    }
    #div-call-action-divs-last{
        margin-top: -3px;
    }
    .et_pb_section .et_pb_column .et_pb_module{
        -webkit-margin-after:40px;
    }
    #pasos-divs{
        margin-top: 0;
    }
    #imgg{
        margin-top: 10px;
    }
    .iconos-verdes{
        width: 96px;
        height: 108px;
    }
    .et_pb_text_21_column1{
        margin:0 0 0 0 !important;
        text-align: center;
    }

    .et_pb_row .et_pb_column .et_pb_module:last-child, .et_pb_row .et_pb_column .et_pb_module.et-last-child, .et_section_specialty .et_pb_row .et_pb_column .et_pb_module:last-child, .et_section_specialty .et_pb_row .et_pb_column .et_pb_module.et-last-child{
        margin-top: 0!important;
    }
    .span_title{
        font-size: 18px!important;
    }
    .first-column-pasos{
        padding-top: 20px;
    }
    .session-botones, .session-botones-azul, .session-botones-azul{
        width: auto;
        font-size: 14px!important;
        text-align: center !important;
        font-family: "roboto";
        letter-spacing: 4px;
    }
}
/*---- range.css----*/
.input-range {
    /*user-select: none;*/
    /*-webkit-touch-callout: none;*/
}
._tweak-button:hover {
    opacity: 0.7;
}
._tweak-button {
    float: left;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-position: center 10px;
    background-size: 26px 26px;
    background-repeat: no-repeat;
    opacity: 0.5;
    margin-top: 11px;
}

._range {
    float: left;
    /*background-color: blue;*/
    width: calc(100% - 150px);
    position: relative;
    height: 70px;
}
._range-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    /*top: 15px;*/
    top: 27px;
    left: 0;
    height: 16px;
}
._range-bg-clear {
    background-color: #999;
    z-index: 0;
    height: 5px;
    /*top: 20px;*/
    top: 33px;
}
._range-bg-filled {
    background-color: #00ff7b;
    z-index: 1;
    width: 20%;
}

._range-sliderthumb {
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
    border: 1px solid #D9D9D9;
    height: 25px;
    width: 35px;
    /*border-radius: 50%;*/
    background: #ffffff;
    cursor: pointer;
    background-image: url('dos-lineas.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    z-index: 4;
    position: absolute;
    left: 0;
    /*top: 20px;*/
    /*user-select: none;*/
    /*-webkit-touch-callout: none;*/
}
._range-touch-left,
._range-touch-right {
    position: absolute;
    width: 25px;
    height: 100%;
    top: 0;
    z-index: 3;
}
._range-touch-left {
    left: 0;
    /*background-color: blue;*/
}
._range-touch-right {
    left: calc(100% - 25px);
    /*background-color: yellow;*/
}
._range-toucharea {
    width: calc(100% - 50px);
    /*width: 100%;*/
    height: 100%;
    /*background-color: red;*/
    z-index: 3;
    position: absolute;
    top: 0;
    left: 25px
    /*left: 0*/
}

.range-counter {
    position: relative;
}
/*.range-counter-error {
    color: red;
    position: absolute;
    left: 0;
    bottom: -20px;
    display: none;
}
.range-counter.error {
    background-color: blue;
    color: blue;
}
.range-counter.error + .range-counter-error {
    display: block;
}*/
/*--------------------------------------------*/
.container-slider{
    width: 100%;
    height: auto;
    padding: 0!important;
    background-color: pink!important;
    margin: auto!important;
    text-align: center;
    border: 1px solid #ececec;
}
.contenedor{
    width: 100%;
    height: auto;
    border-top: 1px solid #c0c0c0;
    float: left;
    padding: 0;
    margin:0;
}
.contenedores{
    width: 50%;
    height: auto;
    font-size: 23px;
    color: #AAAAAA;
    -webkit-transition: all 0.25s linear;
    padding: 25px;
    font-family: "Lato", "Arial";
    float: left;
    text-align: center;
}

.div-proceso{
    width: 100%;
    height: auto;
    background-color: yellow;
    padding: 10px;
    border-top: 1px solid #ececec;
    /*margin-right: 5px;*/
}
input[type=radio]{
    width: 20px!important;
    height: 20px!important;
}

.container-slider h6{
    text-align: center;
    color: #a0d070 ;
    padding: 8px;
}

.contenedor-inputs-slider{
    width: 100%;
    height: auto;
    /*background-color: #ececec;*/
    box-shadow: 1px 2px 7px #c5c5c5;
    float: left;
    /*padding: 20px;*/
    /*margin-top: 4%;*/
    border: 2px solid #c0c0c0;
    border-color: #c0c0c0;
    }
    .inputs-slider{
    width: 33.3%;
    height: auto;
    text-align: center;
    /*background-color: green;*/
    float: left;
    }
/*---- Inputs radio------*/
.content {
/*display: none;*/
}
input:checked + span,
input:checked + input {
display: block!important;
}
.datos-calculo{
    /*visibility: hidden;*/
    display: none;
}

/*.example{
  margin-bottom : 1.5em;
}*/


input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}


input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}
